<div ng-controller="ContextoPedidoController as contextoPedidoCtrl"> 
    <md-sidenav class="md-sidenav-left" md-component-id="left"
      md-disable-backdrop md-whiteframe="4"  style="height: 95%;">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">{{contextoPedidoCtrl.checkAlias()}}</h1>
      </md-toolbar>

      <md-list class="md-dense" flex>
        <md-subheader class="md-no-sticky">Pructos en pedido 
          {{contextoPedidoCtrl.checkAlias()}}</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in contextoPedidoCtrl.pedidoSelected.productosResponse" ">
         <img ng-src="{{contextoPedidoCtrl.urlBase}}{{item.imagen}}" class="md-avatar" 
         alt="{{item.nombre}}" />
          <div class="md-list-item-text" layout="column">
             <h4>{{ item.nombre }}</h4>
            <p>{{item.cantidad}} X  $ {{ item.precio }} = ${{item.cantidad * item.precio }} </p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
       </md-list>

      <div>
        Total $ {{contextoPedidoCtrl.pedidoSelected.montoActual}}
      </div>
      <md-button  ng-click="catalogoCtrl.toggleLeft()" class="md-accent">
          cerrar
      </md-button>
    </md-sidenav>
</div>    