

<div layout="row">
  <div flex>
  
  <div flex>
    <md-input-container class="md-block" flex-gt-sm>
    <label>Productor</label>
  	<md-select ng-model="catalogoCtrl.productorSelect">
	  <md-option ng-repeat="productor in catalogoCtrl.productores" value="{{productor.idVendedor}}">
	                {{productor.nombreProductor}}
	  </md-option>
	</md-select>
	</md-input-container>
  </div>
 
  </div>

  
  <div flex>
    <md-input-container class="md-block" flex-gt-sm>
    <label>Medalla</label>
  	<md-select ng-model="catalogoCtrl.medallaSelect">
	  <md-option ng-repeat="medalla in catalogoCtrl.medallas" value="{{medalla.idMedalla}}">
	                {{medalla.nombre}}
	  </md-option>
	</md-select>
	</md-input-container>
  </div>
  
  <div flex>
  
  <md-input-container md-no-float class="md-block"> 
      <input ng-model="catalogoCtrl.query" type="text" placeholder="Buscar" >
      
       <md-icon md-svg-src="app/components/image/ic_search_black_24px.svg" style="display:inline-block;"></md-icon>
    </md-input-container>
  
  </div>
</div>

      
     
      