<!-- incluido en catalogo.html -->

<div layout="column">
	</br>
	Filtrar por 
	</br>
	<md-button  ng-click="catalogoCtrl.filtroPor('CATEGORIA')">
            Categoria
   </md-button>

	<div flex ng-show="catalogoCtrl.tipoFiltro == 'CATEGORIA'">
		<md-input-container class="md-block" flex-gt-sm>
		<label>Categoria</label> 
		<md-select
			ng-model="catalogoCtrl.query"> <md-option
			ng-repeat="categoria in catalogoCtrl.categorias"
			value="{{categoria.idCategoria}}">
		{{categoria.nombre}}  </md-option> </md-select> </md-input-container>
	</div>
	
	<md-button ng-click="catalogoCtrl.filtroPor('PRODUCTOR')">
          Productor
    </md-button>
    
	<div flex ng-show="catalogoCtrl.tipoFiltro == 'PRODUCTOR'">
		<md-input-container class="md-block" flex-gt-sm>
		<label>Productor</label> <md-select
			ng-model="catalogoCtrl.query"> <md-option
			ng-repeat="productor in catalogoCtrl.productores"
			value="{{productor.idProductor}}">
		{{productor.nombreProductor}} </md-option> </md-select> </md-input-container>
	</div>

	<md-button ng-click="catalogoCtrl.filtroPor('MEDALLA')">
            Medalla
    </md-button>
    
	<div flex ng-show="catalogoCtrl.tipoFiltro == 'MEDALLA'">
		<md-input-container class="md-block" flex-gt-sm>
		<label>Medalla</label> <md-select
			ng-model="catalogoCtrl.query">
			<md-option ng-repeat="medalla in catalogoCtrl.medallas" value="{{medalla.idMedalla}}">
						
				<md-icon> info_outline </md-icon> {{medalla.nombre}}  
						
			 </md-option> </md-select> 
		</md-input-container>
	</div>

	<md-button class="md-raised" ng-click="catalogoCtrl.filtrar()">Filtrar</md-button>
</div>





