<div ng-controller="ListaProductosController as listaProductosCtrl">
    <span ng-show="listaProductosCtrl.productos.length == 0">
        {{'SIN_PRODUCTOS' | translate}}</span>
    <div layout="column" layout-gt-sm="row" layout-wrap>
        <div flex="25" flex-gt-sm="25" ng-repeat="producto in listaProductosCtrl.productos" style="padding-bottom: 8px">
            
            <div ng-include="'app/comercio/catalogo/lista-productos-card.html'"/>

        </div>
    </div>
    <!-- ********************* paginacion *******************-->
    <section layout="column" class="chq-paginador" layout-align="end center" ng-show="listaProductosCtrl.productos.length > 0">
        <cl-paging flex cl-pages="listaProductosCtrl.paging.total" cl-steps="6" cl-page-changed="listaProductosCtrl.paging.onPageChanged()" cl-align="start start" cl-current-page="listaProductosCtrl.paging.current"></cl-paging>
    </section>
    <!-- ********************* dialogo de medalla *******************-->
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="myDialog">
            <md-dialog layout-padding style="width:40%;">
                <div class="md-toolbar-tools chq-color-toolbar">
                    <h2 class="md-headline">{{listaProductosCtrl.medallaSelect.nombre}}</h2>
                    <span flex></span>
                    <div ng-click="listaProductosCtrl.cerrarDialogoMedalla(1)">
                        <i style="font-size: 36px;" class="material-icons">close</i>
                    </div>
                </div>
                <div layout="column" layout-align="center center">
                    <img ng-src="{{listaProductosCtrl.urlBase}}{{listaProductosCtrl.medallaSelect.pathImagen}}" width="200" height="200">
                    <div ng-bind-html="listaProductosCtrl.medallaSelect.descripcion" />
                </div>
            </md-dialog>
        </div>
        <!-- ********************* dialogo de productor *******************-->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="productorDialog">
                <md-dialog layout-padding style="width:40%;">
                    <div class="md-toolbar-tools chq-color-toolbar">
                        <span class="md-headline">{{listaProductosCtrl.emprendedorSelect.nombreProductor}}</span>
                        <span flex></span>
                        <div ng-click="listaProductosCtrl.cerrarDialogoMedalla(1)">
                            <i style="font-size: 36px;" class="material-icons">close</i>
                        </div>
                    </div>                                                        

                    <div layout="column" layout-align="center center">
                        <img ng-src="{{listaProductosCtrl.urlBase}}{{listaProductosCtrl.emprendedorSelect.pathImagen}}" width="200" height="200">
<!--
                        <div>
                            <img ng-src="{{listaProductosCtrl.urlBase}}{{listaProductosCtrl.emprendedorSelect.medalla.pathImagen}}" class="medalla-img">
                            <md-tooltip md-direction="up">
                              {{listaProductosCtrl.emprendedorSelect.medalla.nombre}}
                            </md-tooltip>
                        </div>    
-->
                        <div ng-bind-html="listaProductosCtrl.emprendedorSelect.descripcionCorta" />

                         <div>
                            <img ng-src="{{listaProductosCtrl.urlBase}}{{listaProductosCtrl.emprendedorSelect.medalla.pathImagen}}" class="medalla-img">
                            <md-tooltip md-direction="up">
                              {{listaProductosCtrl.emprendedorSelect.medalla.nombre}}
                            </md-tooltip>
                        </div>   
                    </div>
                </md-dialog>
            </div>
        </div>
    </div>
</div>
 
