<div ng-controller="ListaProductosDestacadosController as ctrl">


<div layout="row" layout-align="space-around center">
	<h3 class="md-headline">Productos destacados</h3>
</div>
<!-- 
<button ng-click="listaProductoCtr.p()">push</button>
 -->


<slick  infinite="true" slides-to-show="5" slides-to-scroll="5" >
	 <div ng-repeat="slide in ctrl.variantes" >
	 <div  style="padding-right: 10px;padding-left: 10px" ngCloak>
        <div class="thumbnail">
				      <img src="{{ctrl.urlbase}}{{slide.imagenPrincipal}}"  >
				      <div class="caption">
	 			        <p>{{slide.nombreProducto}}</p>
	 			    
				        <p>{{slide.nombreCategoria}}</p>
				        <h4><strong>{{slide.precioParteEntera}}<sup>{{slide.precioParteDecimal}}</sup>
				      </div>
		 </div>
		</div>
      </div>
 </slick>
  
   
	<!--    
 <slick prev-arrow=".slick-prev" next-arrow=".slick-next" infinite="true" slides-to-show="5" slides-to-scroll="3">
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
  <div><img ng-src="http://lorempixel.com/90/90/food/" ></div>
</slick>
-->
<div layout="row" layout-align="space-around center">

 
 <slick dots="false" infinite="false" speed="300"  slides-to-show="4" slides-to-scroll="4"  
 prev-arrow=".slick-prev" next-arrow=".slick-next">
 <div ng-repeat="slide in listaProductoCtr.variantes"  >
  <md-card  >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{slide.nombreProducto}}</span>
            <span class="md-subhead">{{slide.nombreCategoria}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"> 
            	<img ng-src="http://lorempixel.com/90/90/food/" class="md-card-image"  alt="{{slide.nombreProducto}}">
            </div>
          </md-card-title-media>
        </md-card-title>
        <!-- 
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
       -->
 </md-card>
 </div>
 </slick>
 
</div> 
<!-- 
	<div layout="row" layout-align="space-around center">
		<md-card slide in listaProductoCtr.variantes> 
		
			<img ng-src="http://lorempixel.com/90/90/food/"
			class="md-card-image" alt="{{slide.nombreProducto}}"> 
			
			<md-card-title>
				<md-card-title-text> 
					<span class="md-headline">{{slide.nombreProducto}}</span>
		   		</md-card-title-text> 
		   	</md-card-title> 
		   	
		   	<md-card-content>
				<p>{{slide.nombreVariente}}</p>
				 
						<strong>{{slide.precioParteEntera}}<sup>{{slide.precioParteDecimal}}</sup>
						
			</md-card-content> 
		</md-card>
		
		 
	</div>
 
 -->


	<!--   <md-button ng-click="listaProductoCtr.p()">pppp</md-button>
	 <div  layout="row"  >
	   <slick  infinite="true" slides-to-show="3" slides-to-scroll="3" >
	   <div  ng-repeat="slide in listaProductoCtr.variantes" flex>
		 <md-card>
	        <img ng-src="http://lorempixel.com/90/90/food/" class="md-card-image" alt="{{slide.nombreProducto}}">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">{{slide.nombreProducto}}</span>
	          </md-card-title-text>
	        </md-card-title>
	        <md-card-content>	          
				        <p>{{slide.nombreVariente}}</p>
				        <h4><strong>{{slide.precioParteEntera}}<sup>{{slide.precioParteDecimal}}</sup>
	        </md-card-content>	        
      	</md-card>
      </div>
      </slick>
	</div>
    -->








</div>
