<div ng-controller="ListaProductosDestacadosController as ctrl">
  <div class="md-headline"> Productos destacados </div>
  <div  layout="row"   layout-wrap >
    <md-card  ng-repeat="producto in ctrl.variantes" flex="40">
      <img src="{{ctrl.urlbase}}{{producto.imagenPrincipal}}"  alt="" style="width: 100%">
      <md-card-content>
        <div layout="column">
          <div layout="column">
            <div layout="column" layout-align="space-between">
              <div class="card-div md-title">
                {{producto.nombreProducto}}
              </div>
              <div class="card-div md-subhead">
                {{producto.nombreVariedad}}
              </div>
              <div class="card-div md-subhead">
                <span ng-click="listaProductosCtrl.showPrerenderedDialogProductor(producto.idFabricante)">{{producto.nombreFabricante}}</span>
              </div>
            </div>
            <div layout="row" layout-align="space-between center">
              <div class="md-display-1">
                $ {{producto.precioParteEntera}} <sup class="card-precio-decimal">{{listaProductosCtrl.mostrarDecimales(producto.precioParteDecimal)}}</sup>
              </div>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>
</div>
