<md-dialog style="width:50%; margin-top: 10rem;">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools chq-color-toolbar">
                <h2> {{ctrl.producto.nombreProducto}} </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div layout="row">
            <!--
            <img src="{{ctrl.urlBase}}{{ctrl.producto.imagenPrincipal}}" style="height:340px;width:200px">
            -->
                <img src="{{ctrl.imagenSelect.path}}" style="width:80%;"
                     flex="60" class="image-preview"  >

                <div layout="column"  flex="50"  >
                     <md-card>
                        <md-card-content>
                        <div layout="column">                     
                            <div class="md-subhead">
                                <span>{{ctrl.producto.nombreVariedad}} </span>
                            </div>
                            <div class="md-subhead"> 
                                {{ctrl.producto.nombreFabricante}}
                            </div>
                            <div class="md-subhead">
                                <div ng-bind-html="ctrl.producto.descripcion" />
                            </div>
                        </div>

                        <div layout="row" layout-align="space-around center">
                            <div>
                                <h1>$ {{ctrl.producto.precioParteEntera}} <sup>{{ctrl.producto.precioParteDecimal}}</sup></h1>
                            </div>
                        </div>
                    </md-card-content>
                </div>
            </div>

            <md-divider md-inset></md-divider>

            <div  layout="row">
                <div ng-repeat="imagen in ctrl.imagenes"
                    class="image-mini-preview" >      
                    <!-- este es que va
                     <img src="{{ctrl.urlBase}}{{imagen.path}}" style="height:50px;width:50px">-->
                        
                        <img src="{{imagen.path}}" style="height:70px;width:70px"
                        ng-click="ctrl.cambiarImagen(imagen)">
                 
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
             <md-button ng-click="ctrl.cerrariDalogo()" >
                        <i style="font-size: 36px;" class="material-icons">close</i>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

<style type="text/css">

.image-preview {
    padding: 15px 15px 15px 15px;
}

.image-mini-preview {
    padding: 15px 15px 15px 15px;
}

div.image-mini-preview:hover {
    border: 1px solid #777;
}

</style>