<div ng-controller="DetalleGruposController as detalleGrupoCtrl" layout="column" ng-cloak>
	<md-card flex="100" layout="row">
		<div ng-if="detalleGrupoCtrl.contacts.length !=0">
			<div flex>
				<md-list-item class="contact-item selected" ng-repeat="(index, contact) in detalleGrupoCtrl.contacts">
					<md-card-content layout="row" layout-align="space-between center" flex="100">
						<!-- TODO: cargar avatar dinamicamente -->
						<img ng-src="http://lorempixel.com/150/150/people/" class="md-avatar" alt="{{contact.nickname}}" />
						<!-- <div class="md-list-item-text compact"> -->
						<h3>{{contact.nickname}}</h3>
						<p>{{contact.email}}</p>
						<div ng-if="contact.invitacion == 'NOTIFICACION_ACEPTADA'">
							<md-icon> done </md-icon>
							<md-tooltip md-direction="right">
								Invitación aceptada
							</md-tooltip>
						</div>
						<div ng-if="contact.invitacion == 'NOTIFICACION_NO_LEIDA'">
							<md-icon> restore </md-icon>
							<md-tooltip md-direction="right">
								Invitación en espera
							</md-tooltip>
						</div>
						<!-- MODIFICADO FAVIO -->
						<span>Estado del pedido: {{contact.estadoPedido}}</span>
						<!-- MODIFICADO FAVIO -->
						<div ng-if="detalleGrupoCtrl.isAdmin">
							<md-button ng-click="detalleGrupoCtrl.quitarMiembro(contact)">
								<ng-md-icon icon="remove_circle_outline" style="fill: red"></ng-md-icon>
								<md-tooltip md-direction="right">
									Quitar del Grupo </md-tooltip>
							</md-button>
						</div>
						<!--</div> -->
					</md-card-content>
				</md-list-item>
			</div>
		</div>
	</md-card>
</div>
