<div ng-controller="DetalleGruposController as detalleGrupoCtrl" layout="column" ng-cloak>
    <md-card ng-if="detalleGrupoCtrl.contacts && detalleGrupoCtrl.contacts.length !=0">    	
        <md-subheader >Miembros del grupo</md-subheader>
        <md-divider>
            <md-list class="fixedRows">
                <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, member) in detalleGrupoCtrl.miembrosVisiblesParaUsuarioLogeado()">
                    <img ng-src="http://lorempixel.com/150/150/people/" class="md-avatar" alt="	{{member.nickname}}" />
                    
                    <div class="md-list-item-text compact">
                        <h4>{{detalleGrupoCtrl.selfPara(member)}}</h4>
                        <p>{{member.email}}</p>
                    </div>

                    <div layout="row" layout-align="end center">
                    	<div >
	                        <md-button 
	                        ng-if="detalleGrupoCtrl.showRemoveGroupsMember(member)" 
	                        ng-click="detalleGrupoCtrl.quitarMiembro(member)">
	                            <ng-md-icon icon="remove_circle_outline" style="fill: red"></ng-md-icon>
	                            <md-tooltip md-direction="right">
	                                {{(detalleGrupoCtrl.isLogged(member)? "Salir del grupo" : "Quitar del Grupo")}}</md-tooltip>
	                        </md-button>
	                    </div>

	                    <div ng-if="member.invitacion == 'NOTIFICACION_ACEPTADA'">	
	                        <ng-md-icon icon="done" style="fill: green"
	                        class="md-list-item-text compact"></ng-md-icon>
	                        <md-tooltip md-direction="right">
	                            Invitación aceptada
	                        </md-tooltip>
	                    </div>

	                    <div ng-if="member.invitacion == 'NOTIFICACION_NO_LEIDA'" 
	                    class="md-list-item-text compact" >
	                        <md-icon> restore </md-icon>
	                        <md-tooltip md-direction="right">
	                            Invitación en espera
	                        </md-tooltip>
	                    </div>	                   

                    </div>
                    <md-divider md-inset ng-if="!$last">
                </md-list-item>
            </md-list>
    </md-card>
</div>