 <div ng-controller="DetalleGruposController as detalleGrupoCtrl" layout="column" ng-cloak>
	<div ng-if="detalleGrupoCtrl.isAdmin">
		<md-subheader class="md-accent">
			<h3>Tu eres el administrador del Grupo !</h3>
		</md-subheader>
	</div>

	<md-list class="fixedRows">
		<div layout="row">
			<div ng-if="detalleGrupoCtrl.contacts.length !=0">
				<div flex>
					<md-subheader class="md-accent">Miembros del grupo</md-subheader>

					<md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in detalleGrupoCtrl.contacts">
					 
						<img ng-src="http://lorempixel.com/150/150/people/" class="md-avatar" alt="{{contact.nickname}}" />
						<div class="md-list-item-text compact">
							<h3>{{contact.nickname}}</h3>
							<p>{{contact.email}}</p>
							<p>{{contact.estadoPedido}}</p>
							<p>{{contact.invitacion}}</p>
						</div>

						<div ng-if="detalleGrupoCtrl.isAdmin">
							<md-button ng-click="detalleGrupoCtrl.quitarMiembro(contact)">
								<ng-md-icon icon="remove_circle_outline" style="fill: red"></ng-md-icon>
								<md-tooltip md-direction="right">
									Quitar del Grupo </md-tooltip>
							</md-button>
						</div>
					</md-list-item>
				</div>
			</div>
		</div>
	</md-list>
</div>



