<!-- Tabs de grupos con el panel de info y botones de acciones -->
<div class="row ch-content">
    <div layout="row" layout-align="space-between center">
        <div><span class="md-title"
            translate>MIS_GRUPOS</span></div>
        <div>
            <md-button ng-click="listaGruposCtrl.crearGrupo($event)" class="btn-agregar"> <label translate="CREAR_GRUPO"></label>    
                <md-icon style="color:white"> group </md-icon>
                <md-tooltip md-direction="left">
                    <label translate="CREAR_GRUPO_MSG"></label>                    
                </md-tooltip>
            </md-button>
        </div>
    </div>
    <div layout="column" ng-cloak>
        <md-card ng-show="listaGruposCtrl.groups.length==0">
            <md-content flex layout-padding>
                <p translate>
                    SIN_GRUPO
                </p>
            </md-content>
        </md-card>
        <div>
            <md-tabs md-selected="listaGruposCtrl.selectedIndexGrupo" md-dynamic-height md-border-bottom>
                <md-tab ng-repeat="group in listaGruposCtrl.groups" ng-disabled="group.disabled" label="{{group.alias}}">
                    <md-content class="md-padding">
                        <div layout=row>
                            <div flex="50" layout=column>
                                <div ng-include="'app/comercio/administracion/lista-grupos-detalle.html'"></div>
                                <div ng-include="'app/comercio/administracion/detalle-grupos.html'" ng-init="grupo = group"></div>
                            </div>
                            <div flex="50" ng-include="'app/comercio/administracion/pedido-grupos.html'" ng-init="grupo = group"></div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
