<!-- Tabs de grupos con el panel de info y botones de acciones -->

<div class="row">
    <div layout="row" layout-align="center center">

        <div flex="50"><span class="md-headline">Mis grupos de compras</span></div>

        <div flex="50">
            <md-button ng-click="listaGruposCtrl.crearGrupo($event)">
                <md-icon> group </md-icon>
                <md-tooltip md-direction="left">
                    puedes crear un grupo nuevo
                </md-tooltip>
            </md-button>
        </div>
    </div>

    <div ng-controller="ListaGruposController as listaGruposCtrl" class="sample" layout="column" ng-cloak>
        <p ng-show="listaGruposCtrl.tabs.length==0">
            Aún no hay grupos
        </p>
        <div style="width:75%;align-self: center">  
        <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="tab in listaGruposCtrl.tabs" ng-disabled="tab.disabled" label="{{tab.alias}}">
            	
	                <md-content class="md-padding">
	                    <div layout=row  >
	                        <div flex="40" layout=column >
	                            <div ng-include="'app/comercio/administracion/lista-grupos-detalle.html'" ></div>

	                            <div ng-include="'app/comercio/administracion/detalle-grupos.html'" ng-init="grupo = tab" ></div>
	                        </div>
	                        <div flex="60" ng-include="'app/comercio/administracion/pedido-grupos.html'" ng-init="grupo = tab" ></div>                       
	                    </div>
	                </md-content>
               
            </md-tab>
        </md-tabs>
         </div>
    </div>
</div>
