<md-content class="md-padding">
						<md-subheader class="md-no-sticky">
						   <md-icon> message </md-icon>
						   Notificaciones recibidas </md-subheader>
						
						
							<md-list-item class="secondary-button-padding">						
							<p></p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
									<md-icon> done </md-icon>
									<md-tooltip md-direction="left">
									          marcar como leido
									</md-tooltip>
							
							</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">							
							<p>El usuario rocco@unq.edu.ar aceptó tu invitación a participar del grupo "trabajo" </p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
								<md-icon> done </md-icon>
								<md-tooltip md-direction="left">
								    Leido
								</md-tooltip>
							</md-button>
							</md-list-item> 
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p>El usuario mateo@gmail.com te invitó a formar parte del grupo "bernal"</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
								<md-icon> done </md-icon>
								<md-tooltip md-direction="left">
								        Leido
								</md-tooltip>
							</md-button> 
							</md-list-item> 
							
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p> El 15/12 se cierran los pedidos para tu zona (zona sur) </p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
								<md-icon> done </md-icon>
								<md-tooltip md-direction="left">
								        Leido
								</md-tooltip>
							</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">						
							<p>El administrador del grupo "trabajo" ya confirmó el pedido grupal</p>
							
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
								<md-icon> done </md-icon>
								<md-tooltip md-direction="left">
								        Leido
								</md-tooltip>
							</md-button> 
							</md-list-item> 
							
					<md-divider></md-divider>
					
					</md-content> 