<md-content class="md-padding">
						<md-subheader class="md-no-sticky">
						   <md-icon> message </md-icon>
						   Notificaciones recibidas </md-subheader>
						
						
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
									<md-icon> done </md-icon>
									<md-tooltip md-direction="left">
									          marcar como leido
									</md-tooltip>
							
							</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
									<md-icon> done </md-icon>
									<md-tooltip md-direction="left">
									          aceptar notificacion
									</md-tooltip>
									</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">
									<md-icon> remove </md-icon>
									<md-tooltip md-direction="left">
									          rechazar notificacion
									</md-tooltip>
									</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Entiendo</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Entiendo</md-button> 
							</md-list-item> 
							
					<md-divider></md-divider>
					
					</md-content> 