<section ng-include="'app/comercio/principal/menu.html'"></section>
<!-- Pantalla de perfil de usuario -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">

			perfil de usuario
			<md-button class="md-raised" ng-click="perfilCtrl.a()"> h </md-button>

			<div ng-cloak>
				<md-content> <md-tabs md-dynamic-height md-border-bottom> <md-tab label="Datos Personales">
				<md-content class="md-padding">
				<h1 class="md-display-2">Datos Personales</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque
					ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est,
					sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
					
				</md-content> </md-tab> 
				<md-tab label="Notificaciones"> 
					<md-content class="md-padding">
						<md-subheader class="md-no-sticky">Notificaciones recibidas </md-subheader>
						
						
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Entiendo</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							
							<md-list-item class="secondary-button-padding">							
							<p>Click anywhere to fire the primary action, or the button to fire the secondary</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Aceptar</md-button>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Rechazar</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Entiendo</md-button> 
							</md-list-item> 
							<md-divider></md-divider>
							<md-list-item class="secondary-button-padding">						
							<p>Clicking the button to the right will fire the secondary action</p>
							<md-button class="md-secondary" ng-click="doSecondaryAction($event)">Entiendo</md-button> 
							</md-list-item> 
							
					<md-divider></md-divider>
					
					</md-content> </md-tab> 
							
				
				<md-tab label="Acciones"> <md-content class="md-padding">
				
				<h1 class="md-display-2">Acciones</h1>
				<p>Aca pueden ur acciones varias como crear un grupo</p>
				</md-content> </md-tab> </md-tabs> </md-content>
			</div>

		</div>

		<div class="col-md-2"></div>
	</div>
</div>
