<head>
<meta charset="UTF-8">
</head>
<div layout="row" layout-align="center center">
  <div>Cambiar Contraseña 
	  <md-button ng-click="perfilCtrl.cambiarPass()">
	  <md-icon> compare_arrows </md-icon>
	  <md-tooltip md-direction="left">
	   cambiar contraseña
	   </md-tooltip>
   </div>
   
</div>


<div style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
      <md-dialog layout-padding>
        <h2>Cambiar Contraseña</h2>
        <md-input-container>
			<label>Contraseña</label>
			<input ng-model="perfilCtrl.pass1" type="password">
		</md-input-container>
		<md-input-container>
			<label>Confirmar Contraseña</label>
			<input ng-model="perfilCtrl.pass2" type="password">
		</md-input-container>
		<md-button class="md-primary md-raised md-button md-ink-ripple"
		ng-click="perfilCtrl.cambiarPassConfirmar()">
		  Confirmar
		</md-button>
      </md-dialog>
    </div>
  </div>