 

<!-- Pantalla de perfil de usuario -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>

		<div class="col-md-8">
 			<span class="md-headline">Mi Perfil</span>
			<div ng-cloak>
				<md-content> 
					<md-tabs md-dynamic-height md-border-bottom md-selected="perfilCtrl.selectedIndexPerfil"> 
						<md-tab label="Datos Personales" >
							<md-content class="md-padding">
 								<div ng-include="'app/comercio/administracion/formularios/form-usuario.html'" 
									 ng-init="perfil = true"/>	
							
								<md-card>			         
							        <md-card-title>
							          <md-card-title-text>
							            <span class="md-headline">Direcciones </span>
							        
						 				<md-button ng-click="perfilCtrl.addDireccion()">
												          	 <md-icon> add_circle_outline </md-icon>
												          	<md-tooltip md-direction="left">
													          agregar una dirección
													        </md-tooltip>
							          </md-card-title-text>
							        </md-card-title>
							        
							        <md-card-content>
							            <md-tabs md-dynamic-height md-border-bottom 
							             md-selected="perfilCtrl.selectedIndexDireccion" >
							              
									      <md-tab ng-repeat="tab in perfilCtrl.direcciones" label="{{tab.idDireccion==undefined ? 'Nuevo' : tab.alias}}">
									        <md-content class="md-padding">				          
									  		 
									          <div ng-include="'app/comercio/administracion/formularios/form-direccion.html'"
									          ng-init="direccionParam = tab" ></div>
									          
									        </md-content>
									      </md-tab>
					      			    </md-tabs>
							        </md-card-content>			        
			    			  </md-card>	
      						</md-content> 
      						</md-tab>
      						 
				<md-tab label="Notificaciones"> 
					<div ng-if="false" ng-include="'app/comercio/administracion/notificaciones.html'"></div>
				</md-tab> 
							
				
				<md-tab label="Acciones"> 
					<div ng-include="'app/comercio/administracion/perfil.acciones.html'"></div>
				</md-tabs> 
				</md-content>
			</div>

		</div>
 
		<div class="col-md-2"></div>
	</div>
</div>
