		<div layout="row" layout-align="center">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline"> Grupo </span> </md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-content layout-padding>
						<div>
							<form name="grupoForm">
								<div layout-gt-xs="row">
									<md-input-container class="md-block" flex-gt-xs>
										<label>{{formGrupoCtrl.user.nickname}}</label>
										<input ng-model="usuario" disabled>
									</md-input-container>
								</div>
								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm>
										<label>Alias</label> 
										<input ng-model="formGrupoCtrl.grupo.alias">
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm>
										<label>Descripcion</label> <input ng-model="formGrupoCtrl.grupo.descripcion">
									</md-input-container>
									
								</div>
								<div layout-gt-sm="row">
									<md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="formGrupoCtrl.isDireccionUsuario">
										<div ng-show="formGrupoCtrl.isDireccionUsuario">
											Quiero que el pedido del grupo llegue a mi domicilio
										</div>
										<div ng-show="! formGrupoCtrl.isDireccionUsuario">
											Quiero elegir otro domicilio
										</div>
									</md-switch>
								</div>
							</form>
						</div>
					</md-content>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="formGrupoCtrl.guardar()"> Guardar </md-button>
				</md-card-actions>
			</md-card>
		</div>

