 <div ng-controller="FormUsuarioController as ctrl" layout="column" ng-cloak class="md-inline-form">
	<form name="usuarioForm">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span ng-show="ctrl.isAlta" class="md-headline"> Registrate </span>
					<!-- 
			<span  ng-show="! ctrl.isAlta"  class="md-headline"> Actualizar usuario </span> 
			 -->
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-content layout-padding>
					<div>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<!-- ng-readonly="ctrl.readOnly" -->
								<label>Nombre</label> <input ng-model="ctrl.user.nombre" ng-readonly="ctrl.readOnly" required> </md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>Apellido</label> <input ng-model="ctrl.user.apellido" ng-readonly="ctrl.readOnly" required>
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>NickName</label> <input ng-model="ctrl.user.nickName" ng-readonly="ctrl.readOnly" required>
							</md-input-container>

						</div>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Email</label> <input type="email" ng-model="ctrl.user.email" ng-readonly="ctrl.readOnly" required> </md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>Telefono Mobil</label> <input ng-model="ctrl.user.telefonoMovil" ng-readonly="ctrl.readOnly" required> </md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>Telefono fijo</label> <input ng-model="ctrl.user.telefonoFijo" ng-readonly="ctrl.readOnly" required> </md-input-container>

						</div>

						<div layout-gt-sm="row" ng-show="ctrl.isAlta">
							<md-input-container class="md-block" flex-gt-sm>
								<label>Contrasena</label> <input type="password" ng-model="ctrl.user.password" ng-readonly="ctrl.readOnly" required>
							</md-input-container>

							<md-input-container class="md-block" flex-gt-sm>
								<label>Repetir Contrasena</label> <input type="password" ng-model="ctrl.passVerificacion" ng-readonly="ctrl.readOnly"
								 required>
							</md-input-container>

						</div>
					</div>
				</md-content>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-click="ctrl.actualizar()" ng-show="! ctrl.isAlta && ctrl.isModoEdit">
					<md-icon> done </md-icon>
					<md-tooltip md-direction="left">
						aceptar cambios de datos de usuario
					</md-tooltip>
				</md-button>
				<md-button ng-click="ctrl.noActualizar()" ng-show="! ctrl.isAlta && ctrl.isModoEdit">
					<md-icon> undo </md-icon>
					<md-tooltip md-direction="left">
						dejar como estaba
					</md-tooltip>
				</md-button>
				<md-button ng-click="ctrl.edit()" ng-show="! ctrl.isAlta && !ctrl.isModoEdit">
					<md-icon> mode_edit </md-icon>
					<md-tooltip md-direction="left">
						puedes editar tus datos personales
					</md-tooltip>
				</md-button>

				<md-button ng-show="! usuarioForm.$invalid && ctrl.isAlta" ng-click="ctrl.guardar()"> Registrarme </md-button>

				<md-button ng-show="! usuarioForm.$invalid && ! ctrl.isAlta" ng-click="ctrl.actualizar()"> Actualizar </md-button>
			</md-card-actions>
		</md-card>
	</form>
</div>