<div class="container-fluid ch-content">
	<div layout="column" layout-align="space-around center">
		<div>
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Iniciar  sesión</span>
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<md-content>
						<div layout="column" layout-align="center center">
							<md-input-container ng-keyup="$event.keyCode == 13 && loginCtrl.login()">
								<label>Email</label>
								<input ng-model="loginCtrl.user.email" type="email">
							</md-input-container>
							<md-input-container ng-keyup="$event.keyCode == 13 && loginCtrl.login()">
								<label>Contraseña</label>
								<input ng-model="loginCtrl.user.password" type="password">
							</md-input-container>
						</div>
					</md-content>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button md-no-ink class="md-primary" ng-click="loginCtrl.nuevo()">Soy nuevo !</md-button>
					<md-button md-no-ink class="md-primary" ng-click="loginCtrl.recuperar()">Olvide mi Contraseña</md-button>
					<md-button class="btn-confirmar" ng-click="loginCtrl.login()">Ingresar</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>
