.md-toolbar-tools {
	background: #32373F !important;
	height: 40em !important;
	padding: 2.5em 0 !important;
}

.menu  {
  background: #660066 !important;
  color-font: #ffffff !important;
}
//.md-button{
// 	color: #fff !important;
// 	font-size: 1.1em !important;
//}
.md-button:hover{
	color: yellow !important;
}


.md-title {
  color-font: #ffffff !important;
}

.md-raised {
  color-font: #ffffff !important;
}

.medallas{
	margin: 1.3em !important;
}

.pchasqui{
	text-align: justify;
}

.wrapper{
	max-width: 1024px;
	margin: 4em auto;
}

