<header class="nav-header nav-header-sticky">
	<div ng-controller="MenuController as menuCtrl"  >

		<md-toolbar class="md-medium-tall bg-white">
			<div class="md-toolbar-tools">
				<a ui-sref="principal"> 					
					<img ng-src="app/components/image/logo_ch.png" style="padding-top: 50px;"> </a>
				<span flex></span>

				<md-button ng-show="menuCtrl.isLogued" ng-click="menuCtrl.verNotificaciones()">
					<ng-md-icon options="{{menuCtrl.options}}" id="icon" icon="{{menuCtrl.icon}}" style="fill: {{menuCtrl.fill}}" />

					<md-tooltip style="color:#fff" md-direction="left">
						Notificaciones sin leer {{menuCtrl.notificacionesSinLeer}} </md-tooltip>

				</md-button>

				<h2 class="md-title" style="color:#fff;" ng-show="menuCtrl.isLogued">{{menuCtrl.usuario.nickname}}</h2>

				<md-button class="md-raised" ng-click="menuCtrl.ir('login')" ng-show="! menuCtrl.isLogued"> Ingresa </md-button>

				<md-button class="md-secondary" ng-click="menuCtrl.logOut()" ng-show="menuCtrl.isLogued">
					<md-icon style="color:#468385"> exit_to_app </md-icon>
				</md-button>

			</div>
		</md-toolbar>

		<div class="menu" layout="row" layout-align="center center">

			<md-button class="{{menuCtrl.classFor('bienvenido')}}" ng-click="menuCtrl.ir('bienvenido')">
				<b>Bienvenido</b> </md-button>
			<span>|</span>
			<!-- <md-button class="{{menuCtrl.classFor('emprendedores')}}" ng-click="menuCtrl.ir('emprendedores')">
				productores </md-button> -->
			<!-- <span>|</span>
			<md-button class="{{menuCtrl.classFor('como-comprar')}}" ng-click="menuCtrl.ir('como-comprar')">
				C&oacutemo comprar </md-button>
			<span>|</span> -->
			<md-button class="{{menuCtrl.classFor('catalogo')}}" ng-click="menuCtrl.ir('catalogo')">
				<b>catalogo</b> </md-button>
			<span ng-show="menuCtrl.isLogued">|</span>
			<md-button class="{{menuCtrl.classFor('lista-pedidos')}}" ng-click="menuCtrl.ir('lista-pedidos')" ng-show="menuCtrl.isLogued">
				<b>Mis pedidos</b> </md-button>
			<span ng-show="menuCtrl.isLogued">|</span>
			<md-button class="{{menuCtrl.classFor('lista-grupos')}}" ng-click="menuCtrl.ir('lista-grupos')" ng-show="menuCtrl.isLogued">
				<b>Mis Grupos</b></md-button>
			<span ng-show="menuCtrl.isLogued">|</span>
			<md-button class="{{menuCtrl.classFor('perfil')}}" ng-click="menuCtrl.ir('perfil')" ng-show="menuCtrl.isLogued">
				<b>Perfil</b></md-button>
		</div>
		<md-divider></md-divider>
	</div>
</header>