<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<header>
<div ng-controller="MenuController as menuCtrl">    

	<md-toolbar class="md-hue-2" >
		<div class="md-toolbar-tools">
		 
                               

    	  <a ui-sref="principal">  <img src=""> 
	
                       <div ng-controller= "VendedorController as vendedorCtrl" > 

                        <img ng-src= "{{vendedorCtrl.urlBase}}{{ vendedorCtrl.vendedor.imagen }}" >


                       </div>              
         </a>


		<span flex></span>
	    
		  
	      <h2 class="md-title"
	      ng-show="menuCtrl.isLogued">{{menuCtrl.usuario.nickname}}</h2>
	         
	     <md-button class="md-raised" ng-click="menuCtrl.ir('login')"
	 	ng-show="! menuCtrl.isLogued" > Ingresa </md-button>   
	 	
	 	 <md-button class="md-secondary" ng-click="menuCtrl.logOut()"
	 	 ng-show="menuCtrl.isLogued">
		 	<md-icon> exit_to_app </md-icon>
		</md-button>
	    
		</div>
	</md-toolbar>

    <div class="menu" layout="row" layout-align="center center">

    <md-button  class="{{menuCtrl.classFor('bienvenido')}}" ng-click="menuCtrl.ir('bienvenido')"  >
		Bienvenido </md-button>
	    <span>|</span> 	
	<md-button  class="{{menuCtrl.classFor('emprendedores')}}" ng-click="menuCtrl.ir('emprendedores')"  >
		productores </md-button>
	    <span>|</span> 
    <md-button  class="{{menuCtrl.classFor('como-comprar')}}" ng-click="menuCtrl.ir('como-comprar')"  >
	     C&oacutemo comprar </md-button>
	    <span>|</span>
    <md-button  class="{{menuCtrl.classFor('catalogo')}}" ng-click="menuCtrl.ir('catalogo')"  > 
	    catalogo </md-button>
	    <span  ng-show="menuCtrl.isLogued">|</span> 
    <md-button  class="{{menuCtrl.classFor('lista-pedidos')}}" ng-click="menuCtrl.ir('lista-pedidos')"  
     ng-show="menuCtrl.isLogued"> 
	     Mis pedidos </md-button>
	     <span  ng-show="menuCtrl.isLogued">|</span>
    <md-button  class="{{menuCtrl.classFor('lista-grupos')}}" ng-click="menuCtrl.ir('lista-grupos')"  
     ng-show="menuCtrl.isLogued">
	      Compra colectiva </md-button>
	     <span  ng-show="menuCtrl.isLogued">|</span>   
    <md-button  class="{{menuCtrl.classFor('perfil')}}" ng-click="menuCtrl.ir('perfil')" 
      ng-show="menuCtrl.isLogued" > 
      	 Perfil </md-button>
    </div>

	
        
     <md-divider ></md-divider>
</div>
</header>