/*
.ch-toolbar{
	//background: linear-gradient(#F7F7F7,#D7D7D7) !important;
	background: white !important;
}

.ch-one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px #8E8E93;
	   -moz-box-shadow: 0 8px 6px -6px #8E8E93;
	        box-shadow: 0 8px 6px -6px #8E8E93;
}

.ch-icon-login{
	color: #1F1F21;
}

.ch-menu{
	color: #1F1F21;
}
*/