<header class="nav-header nav-header-sticky">
	<div ng-controller="MenuController as menuCtrl"  >
		<md-toolbar class="md-medium-tall ch-toolbar ch-one-edge-shadow">
			<div layout="row" class="ch-menu" >
				<div flex="20">
					<a ui-sref="principal"> 					
					<img ng-src="app/components/image/logo_ch.png"  > </a>
				</div>
				
				<div flex="60" layout="row" layout-align="space-between center">
					 
          				<div ng-click="menuCtrl.ir('bienvenido')">
          					Bienvenido
          				</div>
          				<span>|</span>
          				<div ng-click="menuCtrl.ir('como-comprar')">
          					C&oacutemo comprar
          				</div>
          				<span>|</span>
          				<!--
          				<div ng-click="menuCtrl.ir('emprendedores')">
          					emprendedores
          				</div>-->
          				<div ng-click="menuCtrl.ir('catalogo')">
          					Catalogo
          				</div>
          				<span ng-show="menuCtrl.isLogued">|</span>
          				<div ng-click="menuCtrl.ir('lista-pedidos')" ng-show="menuCtrl.isLogued">
          					Mis Pedidos
          				</div>
          				<span ng-show="menuCtrl.isLogued">|</span>
          				<div ng-click="menuCtrl.ir('lista-grupos')" ng-show="menuCtrl.isLogued">
          					Compra Colectiva
          				</div>
          				<span ng-show="menuCtrl.isLogued">|</span>
          				<div ng-click="menuCtrl.ir('perfil')" ng-show="menuCtrl.isLogued">
          					Perfil
          				</div>
          				 
          		 
				</div>
				
				<div flex="20" layout="space-between center">
					<md-button ng-show="menuCtrl.isLogued" ng-click="menuCtrl.verNotificaciones()">
						<ng-md-icon options="{{menuCtrl.options}}" id="icon" icon="{{menuCtrl.icon}}"
						 style="fill: {{menuCtrl.fill}}" />

						<md-tooltip  md-direction="left">
							Notificaciones sin leer {{menuCtrl.notificacionesSinLeer}} </md-tooltip>

					</md-button>

					<h2 class="ch-menu" ng-show="menuCtrl.isLogued">{{menuCtrl.usuario.nickname}}</h2>

					<md-button class="md-raised" ng-click="menuCtrl.ir('login')" ng-show="! menuCtrl.isLogued"> Ingresa </md-button>

					<md-button class="md-secondary" ng-click="menuCtrl.logOut()" ng-show="menuCtrl.isLogued">
						<md-icon style="color:black"> exit_to_app </md-icon>
					</md-button>
				</div>

			</div>

		</md-toolbar>

		 
	</div>
</header>